<style>
  :root {
    /* Primary theme color */
    --primary-color: #fed43f;
    /* Primary theme text color */
    --primary-text-color: #543631;
    /* Primary theme link color */
    --primary-link-color: #f9bb2d;
    /* Secondary color: the background body color */
    --secondary-color: #fcfaf6;
    --secondary-text-color: #303030;
    /* Highlight text color of table of content */
    --toc-highlight-text-color: #d46e13;

    @include darkMode {
      --primary-color: #543631;
    }
  }
</style>
